.main {
	@include adaptiveValue("padding-top", 200, 120);
	@include adaptiveValue("padding-bottom", 100, 80);
		background-color: $darckColor;
		// .main__title
		&__container{
			display: flex;
			align-items: center;
			flex-direction: column;
			@include adaptiveValue("gap", 50, 25);
			position: relative;
		}
		&__bg-decor{
				content: "";
				position: absolute;
				height: 100%;
				top: -120px;
				right: 0;
				// z-index: -1;
		}
		&__bg-decor-bottom{
				content: "";
				position: absolute;
				height: 100%;
				@include adaptiveValue("bottom", -100, -80);
				left: 0;
				transform: rotate(180deg);
				// z-index: -1;
		}
		&__title {
			text-align: center;
			max-width: rem(700);
			@include adaptiveValue("font-size", 65, 28);
			@include adaptiveValue("line-height", 70, 40);
			font-weight: 800;
			color: $titleColor;
			span{
				color: $greenColor;
			}
		}

		// .main__text

		&__text {
			@include adaptiveValue("font-size", 20, 14);
			font-weight: 400;
			line-height: 30px;
			color: $whiteColor;
			text-align: center;
		}

		// .main__actions

		&__actions {
			display: flex;
			gap: rem(15);
			z-index: 1;
		}

		// .main__action

		&__action {
			background-color: #383636;
			display: inline-block;
			@include adaptiveValue("font-size", 16, 12);
			font-weight: 700;
			color: $whiteColor;
			padding: rem(17) rem(50);
			border-radius: rem(10);
			border: 1px solid $whiteColor;
			transition: all 0.3s ease 0s;
			@media (max-width:$mobile){
				padding: rem(17) rem(40);
			}
			@media (any-hover: hover){
				&:hover{
					border: 1px solid $greenColor;
					transform: translateY(-3px);
				}
			}
		}
		.action-green{
			background-color: $greenColor;
			color: $darckColor;
			border: 1px solid $greenColor;
			@media (any-hover: hover){
				&:hover{
					box-shadow: 0 0 15px 5px $greenColor;
					transform: translateY(-3px);
				}
			}
		}
}
//========================================================================================================================================================
.what {
	@include adaptiveValue("padding-top", 100, 40);
	@include adaptiveValue("padding-bottom", 100, 40);
		background-color: $darckColor;
		// .what__container

		&__container {
			padding: rem(0) rem(20);
		}
		&__header{
			
		}
		// .what__title

		&__title {
			
		}
		&__line{
			
		}

		// .what__body

		&__body {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: rem(50);
		}
		&__image{
			flex: 0 1 auto;
			max-width: rem(500);
			border-radius: rem(20);
			overflow: hidden;
			box-shadow: 0 0 15px 2px #78c4a4;
			img{
				width: 100%;
			}
			@media (max-width:$mobile){
				display: none;
			}
		}
		// .what__list

		&__list {
			padding-left: rem(20);
			flex: 0 0 auto;
			color: $whiteColor;
			@include adaptiveValue("font-size", 20, 14);
			@include adaptiveValue("line-height", 40, 20);
			@include adaptiveValue("row-gap",30 , 23);
			font-weight: 500;
			display: flex;
			flex-direction: column;
			@media (max-width:$mobile){
				flex: 0 1 auto;
			}
			li{
				position: relative;
				&::before{
					content: "";
					position: absolute;
					width: 7px;
					height: 7px;
					border-radius: 50%;
					background-color: $greenColor;
					top: 42%;
					left: -20px;
					box-shadow: 0 0 5px 2px #78c4a4;
				}
			}
		}
}
//========================================================================================================================================================
.portfolio {
		@include adaptiveValue("padding-top", 100, 40);
		@include adaptiveValue("padding-bottom", 100, 40);
		background-color: $darckColor;
		// .portfolio__container

		&__container {
			padding: rem(20);
		}

		// .portfolio__header

		&__header {
			// margin-bottom: rem(100);
			@include adaptiveValue("margin-bottom", 100, 50 );
		}
		// .portfolio__title

		&__title {
		}

		// .portfolio__line

		&__line {
		}

		// .portfolio__items

		&__items {
			gap: rem(20);
			display: flex;
			@media (max-width:$mobile){
				flex-wrap: wrap;
			}
		}
		// .portfolio__item
		&__item {
		}
}
.head {
}
.title {
}
.line {
}
.item-portfolio {
		display: flex;
		flex-direction: column;
		flex: 0	1	400px;
		@media (max-width:$mobile){
			flex: 0	1	100%;
		}
		border-radius: rem(15);
		border: 1px solid $greyColor;
		overflow: hidden;
		@media (any-hover: hover){
			&:hover{
				.item-portfolio__image {
				&::before {
					opacity: 0;
				}
			}

				img{
					transform: scale(1.1);
				}
			}
		}
		// .item-portfolio__image

		&__image {
			position: relative;
			overflow: hidden;
			width: 100%;
			&::before{
				content: "";
				position: absolute;
				inset: 0;
				background-color: rgba(0, 40, 20, 0.55); // темно-зеленая маска
				z-index: 2;
				transition: opacity 0.3s ease;
				pointer-events: none;
			}
			img{
				display: block;
				transition: all 0.3s ease 0s;
				width: 100%;
			}
		}

		// .item-portfolio__body

		&__body {
			padding: rem(20);
			background-color: #161616;
			// gap: rem(20);
			@include adaptiveValue("gap", 25, 15);
			display: flex;
			flex: 1 1 auto;
			flex-direction: column;
		}

		// .item-portfolio__stacks

		&__stacks {
			display: flex;
			flex-wrap: wrap;
			gap: rem(10);
		}

		// .item-portfolio__stack

		&__stack {
			font-family: "JetBrainsMono";
			// font-size: rem(12);
			@include adaptiveValue("font-size", 12, 10);
			padding: rem(4) rem(12);
			background-color: #152C22;
			color: $greenColor;
			border-radius: rem(10);
			border: 1px solid $greenColor;
		}

		// .item-portfolio__title

		&__title {
			color: $titleColor;
			@include adaptiveValue("font-size", 30, 20);
			font-weight: 700;
		}
		
		// .item-portfolio__text
		
		&__text {
			flex: 1 1 auto;
			line-height: 20px;
			color: $whiteColor;
			@include adaptiveValue("font-size", 16, 12);
		}

		// .item-portfolio__actions

		&__actions {
			margin-top: auto;
			display: flex;
			gap: rem(20);
		}

		// .item-portfolio__action

		&__action {
			font-family: "JetBrainsMono";
			font-size: rem(20);
			line-height: 25px;
			color: $whiteColor;
			transition: all 0.3s ease 0s;
			@media (any-hover: hover){
				&:hover{
					color: $titleColor;
				}
			}
		}

		&__action-green{
			color: $greenColor;
			display: inline-block;
			background: linear-gradient(to right, currentColor 0%, currentColor 100%) no-repeat;
			background-size: 0 2px; /* Начальная ширина подчеркивания */
			background-position: left bottom;
			transition: background-size 0.3s ease;
			@media (any-hover: hover){
				&:hover{
					background-size: 100% 2px; /* Конечная ширина подчеркивания при наведении */
					// text-decoration: underline;
					color: $greenColor;
				}
			}
		}
}
