.main {
	@include adaptiveValue("padding-top", 200, 120);
	@include adaptiveValue("padding-bottom", 100, 80);
		background-color: $darckColor;
		// .main__title
		&__container{
			display: flex;
			align-items: center;
			flex-direction: column;
			@include adaptiveValue("gap", 50, 25);
			position: relative;
		}
		&__bg-decor{
				content: "";
				position: absolute;
				height: 100%;
				top: -120px;
				right: 0;
				z-index: -1;
		}
		&__bg-decor-bottom{
				content: "";
				position: absolute;
				height: 100%;
				@include adaptiveValue("bottom", -100, -80);
				left: 0;
				transform: rotate(180deg);
				z-index: -1;
		}
		&__title {
			text-align: center;
			max-width: rem(700);
			@include adaptiveValue("font-size", 65, 28);
			@include adaptiveValue("line-height", 70, 40);
			font-weight: 800;
			color: $titleColor;
			span{
				color: $greenColor;
			}
		}

		// .main__text

		&__text {
			@include adaptiveValue("font-size", 20, 14);
			font-weight: 400;
			line-height: 30px;
			color: $whiteColor;
			text-align: center;
		}

		// .main__actions

		&__actions {
			display: flex;
			gap: rem(15);
		}

		// .main__action

		&__action {
			background-color: #383636;
			display: inline-block;
			@include adaptiveValue("font-size", 16, 12);
			font-weight: 700;
			color: $whiteColor;
			padding: rem(17) rem(50);
			border-radius: rem(10);
			border: 1px solid $whiteColor;
			transition: all 0.3s ease 0s;
			@media (max-width:$mobile){
				padding: rem(17) rem(40);
			}
			@media (any-hover: hover){
				&:hover{
					border: 1px solid $greenColor;
					transform: translateY(-3px);
				}
			}
		}
		.action-green{
			background-color: $greenColor;
			color: $darckColor;
			border: 1px solid $greenColor;
			@media (any-hover: hover){
				&:hover{
					box-shadow: 0 0 15px 5px $greenColor;
					transform: translateY(-3px);
				}
			}
		}
}
//========================================================================================================================================================
.what {
	@include adaptiveValue("padding-top", 100, 80);
	@include adaptiveValue("padding-bottom", 100, 80);
		background-color: $darckColor;
		// .what__container

		&__container {
			padding: rem(0) rem(20);
		}
		&__header{
			display: flex;
			gap: rem(20);
			align-items: center;
			margin-bottom: rem(40);
		}
		// .what__title

		&__title {
			flex: 1 0 auto;
			@include adaptiveValue("font-size", 50, 24);
			font-weight: 700;
			color: $titleColor;
			position: relative;
		}
		&__line{
			flex: 0 1 auto;
			width: 100%;
			height: rem(3);
			background: linear-gradient(90deg,rgba(0, 227, 131, 1) 31%, rgba(0, 227, 131, 0.01) 100%);

			
		}

		// .what__body

		&__body {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: rem(50);
		}
		&__image{
			flex: 0 1 auto;
			max-width: rem(500);
			border-radius: rem(20);
			overflow: hidden;
			box-shadow: 0 0 15px 2px #78c4a4;
			img{
				width: 100%;
			}
			@media (max-width:$mobile){
				display: none;
			}
		}
		// .what__list

		&__list {
			padding-left: rem(20);
			flex: 0 0 auto;
			color: $whiteColor;
			@include adaptiveValue("font-size", 20, 14);
			@include adaptiveValue("line-height", 40, 20);
			@include adaptiveValue("row-gap",30 , 23);
			font-weight: 500;
			display: flex;
			flex-direction: column;
			@media (max-width:$mobile){
				flex: 0 1 auto;
			}
			li{
				position: relative;
				&::before{
					content: "";
					position: absolute;
					width: 7px;
					height: 7px;
					border-radius: 50%;
					background-color: $greenColor;
					top: 42%;
					left: -20px;
					box-shadow: 0 0 5px 2px #78c4a4;
				}
			}
		}
}
