.main {
	@include adaptiveValue("padding-top", 200, 120);
	@include adaptiveValue("padding-bottom", 100, 80);
		background-color: $darckColor;
		// .main__title
		&__container{
			display: flex;
			align-items: center;
			flex-direction: column;
			@include adaptiveValue("gap", 50, 25);
			position: relative;
		}
		&__bg-decor{
				content: "";
				position: absolute;
				height: 100%;
				top: -120px;
				right: 0;
			
		}
		&__bg-decor-bottom{
				content: "";
				position: absolute;
				height: 100%;
				@include adaptiveValue("bottom", -100, -80);
				left: 0;
				transform: rotate(180deg);
			
		}
		&__title {
			text-align: center;
			max-width: rem(700);
			@include adaptiveValue("font-size", 65, 28);
			@include adaptiveValue("line-height", 70, 40);
			font-weight: 800;
			color: $whiteColor;
			span{
				color: $greenColor;
			}
		}

		// .main__text

		&__text {
			@include adaptiveValue("font-size", 20, 14);
			font-weight: 400;
			line-height: 30px;
			color: $whiteColor;
			text-align: center;
		}

		// .main__actions

		&__actions {
			display: flex;
			gap: rem(15);
		}

		// .main__action

		&__action {
			background-color: #383636;
			display: inline-block;
			@include adaptiveValue("font-size", 16, 12);
			font-weight: 700;
			color: $whiteColor;
			padding: rem(17) rem(50);
			border-radius: rem(10);
			border: 1px solid $whiteColor;
			transition: all 0.3s ease 0s;
			@media (max-width:$mobile){
				padding: rem(17) rem(40);
			}
			@media (any-hover: hover){
				&:hover{
					border: 1px solid $greenColor;
					transform: translateY(-3px);
				}
			}
		}
		.action-green{
			background-color: $greenColor;
			color: $darckColor;
			border: 1px solid $greenColor;
			@media (any-hover: hover){
				&:hover{
					box-shadow: 0 0 15px 5px $greenColor;
					// border: 1px solid $;
					transform: translateY(-3px);
				}
			}
		}
}
